# Angular specific
/dist/
/node_modules/
/out-tsc/

# Compiled output
/*.js
/*.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
/.idea/
/.vscode/
/*.sublime-project
/*.sublime-workspace

# Environment files
/src/environments/environment*.ts

# Misc
/.angular/cache/
package-lock.json
yarn.lock
