
<mat-card class="information-container" *ngIf="breed">
  <mat-card-header class="card-header">
    <mat-card-title>{{ breed.name }}</mat-card-title>
    <mat-card-subtitle>{{ breed.origin }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ breed.description }}</p>
    <a [href]="breed.wikipedia_url" target="_blank">Más información</a>
  </mat-card-content>
  <table mat-table [dataSource]="[breed]" class="mat-elevation-z8">


    <ng-container matColumnDef="temperament">
      <th mat-header-cell *matHeaderCellDef> Temperamento </th>
      <td mat-cell *matCellDef="let element"> {{ element.temperament }} </td>
    </ng-container>
  
    <ng-container matColumnDef="weightImperial">
      <th mat-header-cell *matHeaderCellDef> Peso (Imperial) </th>
      <td mat-cell *matCellDef="let element"> {{ element.weight?.imperial }} </td>
    </ng-container>
  
    <ng-container matColumnDef="lifeSpan">
      <th mat-header-cell *matHeaderCellDef> Esperanza de Vida </th>
      <td mat-cell *matCellDef="let element"> {{ element.life_span }} </td>
    </ng-container>
 
    <ng-container matColumnDef="intelligence">
      <th mat-header-cell *matHeaderCellDef> Inteligencia
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.intelligence }} </td>
    </ng-container>
  
    <ng-container matColumnDef="affection_level">
      <th mat-header-cell *matHeaderCellDef> Nivel De Afecto </th>
      <td mat-cell *matCellDef="let element"> {{ element.affection_level }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['temperament', 'weightImperial', 'lifeSpan', 'intelligence', 'affection_level']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['temperament', 'weightImperial', 'lifeSpan', 'intelligence', 'affection_level'];"></tr>
  </table>
  
  
  
</mat-card>
